@import 'reset.css';
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --best-black: #070606;
  --background-gray: #2c3e50;
  --secondary-background-gray: #192333;
  --vampire-black: #060707;
  --ghost-white: #f8f9f9;
  --primary-green: #3ba776;
  --secondary-green: #3cb175;
  --primary-warning: #b5aa29;
  --secondary-light-gray: #4e6e8e;
  --complementary-red: #b91715;
  --complementary-lilac: #ca96c1;
  --complementary-gray-blue: #96b8c4;
  --gray-text: #eeeeee;
}
html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202124;
  color: whitesmoke;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202124;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-light-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--complementary-gray-blue);
}
